img {
    width: 100%;
    height: 50%;
    margin: 20 auto;
    display: block;
    
}

p {
    text-align: center;
    margin: 0 auto;
    text-decoration: solid black;
    width: 50%;
}

h1 {
    text-align: center;
}